In [12]:
library(tidyverse)
library(dplyr)
library(readr)

In [20]:
#reading the file from the download url, then adding column names based on the data's webpage's specifications
heart_data <- read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.hungarian.data")
colnames(heart_data) = c("age", "sex", "cp", "trestbps", "chol", "fbs", "restecg", "thalach", "exang", "oldpeak", "slope", "ca", "thal", "num")
# adding the lost row of information to the dataset and converting varieties to factor
head(heart_data)

Warning message:
“Duplicated column names deduplicated: '2' => '2_1' [7], '0' => '0_1' [9], '0' => '0_2' [10], '?' => '?_1' [12], '?' => '?_2' [13], '0' => '0_3' [14]”
Parsed with column specification:
cols(
  `28` = col_double(),
  `1` = col_double(),
  `2` = col_double(),
  `130` = col_character(),
  `132` = col_character(),
  `0` = col_character(),
  `2_1` = col_character(),
  `185` = col_character(),
  `0_1` = col_character(),
  `0_2` = col_double(),
  `?` = col_character(),
  `?_1` = col_character(),
  `?_2` = col_character(),
  `0_3` = col_double()
)

  age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal num
1 29  1   2  120      243  0   0       160     0     0       ?     ?  ?    0
2 29  1   2  140      ?    0   0       170     0     0       ?     ?  ?    0
3 30  0   1  170      237  0   1       170     0     0       ?     ?  6    0
4 31  0   2  100      219  0   1       150     0     0       ?     ?  ?    0
5 32  0   2  105      198  0   0       165     0     0       ?     ?  ?    0
6 32  1   2  110      225  0   0       184     0     0       ?     ?  ?    0

In [21]:
#adding in the missing row of data that got wiped when they were replaced with column names
heart_data[nrow(heart_data) + 1,] = list(28, 1, 2, "130", "132", "0", "2", "185", "0", 0, "?", "?", "?", 0)
head(heart_data)

  age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal num
1 29  1   2  120      243  0   0       160     0     0       ?     ?  ?    0
2 29  1   2  140      ?    0   0       170     0     0       ?     ?  ?    0
3 30  0   1  170      237  0   1       170     0     0       ?     ?  6    0
4 31  0   2  100      219  0   1       150     0     0       ?     ?  ?    0
5 32  0   2  105      198  0   0       165     0     0       ?     ?  ?    0
6 32  1   2  110      225  0   0       184     0     0       ?     ?  ?    0

In [22]:
# converting the "?" to NA
heart_data$trestbps <- gsub("?", NA, heart_data$trestbps, fixed = TRUE)
heart_data$chol <- gsub("?", NA, heart_data$chol, fixed = TRUE)
heart_data$fbs <- gsub("?", NA, heart_data$fbs, fixed = TRUE)
heart_data$restecg <- gsub("?", NA, heart_data$restecg, fixed = TRUE)
heart_data$thalach <- gsub("?", NA, heart_data$thalach, fixed = TRUE)
heart_data$exang <- gsub("?", NA, heart_data$exang, fixed = TRUE)
heart_data$slope <- gsub("?", NA, heart_data$slope, fixed = TRUE)
heart_data$ca <- gsub("?", NA, heart_data$ca, fixed = TRUE)
heart_data$thal <- gsub("?", NA, heart_data$thal, fixed = TRUE)
head(heart_data)

  age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal num
1 29  1   2  120      243  0   0       160     0     0       NA    NA NA   0
2 29  1   2  140      NA   0   0       170     0     0       NA    NA NA   0
3 30  0   1  170      237  0   1       170     0     0       NA    NA 6    0
4 31  0   2  100      219  0   1       150     0     0       NA    NA NA   0
5 32  0   2  105      198  0   0       165     0     0       NA    NA NA   0
6 32  1   2  110      225  0   0       184     0     0       NA    NA NA   0

In [23]:
#converting all chr columns to dbl columns
heart_data_clean <- heart_data %>% 
                        mutate(trestbps = as.numeric(trestbps)) %>% 
                        mutate(chol = as.numeric(chol)) %>% 
                        mutate(fbs = as.numeric(fbs)) %>% 
                        mutate(restecg = as.numeric(restecg)) %>% 
                        mutate(thalach = as.numeric(thalach)) %>% 
                        mutate(exang = as.numeric(exang)) %>% 
                        mutate(slope = as.numeric(slope)) %>% 
                        mutate(ca = as.numeric(ca)) %>% 
                        mutate(thal = as.numeric(thal)) 
head(heart_data_clean)

  age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal num
1 29  1   2  120      243  0   0       160     0     0       NA    NA NA   0
2 29  1   2  140       NA  0   0       170     0     0       NA    NA NA   0
3 30  0   1  170      237  0   1       170     0     0       NA    NA  6   0
4 31  0   2  100      219  0   1       150     0     0       NA    NA NA   0
5 32  0   2  105      198  0   0       165     0     0       NA    NA NA   0
6 32  1   2  110      225  0   0       184     0     0       NA    NA NA   0

In [24]:
write_csv(heart_data_clean, "heart_data_clean.csv")

In [25]:
heart_data_fct <- heart_data_clean %>% 
                    mutate(sex = factor(sex, labels = c("female", "male"))) %>% #1 = male; 0 = female
                    mutate(cp = factor(cp, labels = c("typical angina", "atypical angina", "non-anginal pain", "asymptomatic"))) %>% #chest pain type -- 1: typical angina -- 2: atypical angina -- 3: non-anginal pain -- 4: asymptomatic
                    mutate(fbs = factor(fbs, labels = c("false", "true"))) %>% #if fasting blood sugar > 120 mg/dl (1 = true; 0 = false)
                    mutate(restecg = factor(restecg, labels = c("normal", "abnormality", "hypertrophy"))) %>% #resting electrocardiographic results -- 0: normal -- 1: ST-T wave abnormality -- 2: probable or definite left ventricular hypertrophy
                    mutate(exang = factor(exang, labels = c("no", "yes"))) %>% #exercise induced angina (1 = yes; 0 = no)
                    mutate(slope = factor(slope, labels = c("upsloping", "flat", "downsloping"))) %>% #11. #41 (slope) the slope of the peak exercise ST segment -- 1 : upsloping -- 2: flat -- 3: downsloping
                    mutate(thal = factor(thal, labels = c("normal", "fixed", "reversible"))) %>% #3 = normal; 6 = fixed defect; 7 = reversable defect
                    mutate(num = factor(num, labels = c("less than 50", "more than 50"))) #diagnosis of heart disease (angiographic disease status) -- 0: < 50% diameter narrowing -- 1: > 50% diameter narrowing

colnames(heart_data_fct) = c("age", "sex", "chest_pain", "resting_pressure", "serum_chol", "fasting_blood_sugar", "resting_ecg", "max_heartrate", "exercise_angina", "oldpeak", "slope", "ca", "thal", "num")
heart_data_fct

    age sex    cp               trestbps chol fbs   restecg     thalach exang
1   29  male   atypical angina  120      243  false normal      160     no
2   29  male   atypical angina  140       NA  false normal      170     no
3   30  female typical angina   170      237  false abnormality 170     no
4   31  female atypical angina  100      219  false abnormality 150     no
5   32  female atypical angina  105      198  false normal      165     no
6   32  male   atypical angina  110      225  false normal      184     no
7   32  male   atypical angina  125      254  false normal      155     no
8   33  male   non-anginal pain 120      298  false normal      185     no
9   34  female atypical angina  130      161  false normal      190     no
10  34  male   atypical angina  150      214  false abnormality 168     no
11  34  male   atypical angina   98      220  false normal      150     no
12  35  female typical angina   120      160  false abnormality 185     no
13  35  female asymptomatic     140      167  false normal      150     no
14  35  male   atypical angina  120      308  false hypertrophy 180     no
15  35  male   atypical angina  150      264  false normal      168     no
16  36  male   atypical angina  120      166  false normal      180     no
17  36  male   non-anginal pain 112      340  false normal      184     no
18  36  male   non-anginal pain 130      209  false normal      178     no
19  36  male   non-anginal pain 150      160  false normal      172     no
20  37  female atypical angina  120      260  false normal      130     no
21  37  female non-anginal pain 130      211  false normal      142     no
22  37  female asymptomatic     130      173  false abnormality 184     no
23  37  male   atypical angina  130      283  false abnormality  98     no
24  37  male   non-anginal pain 130      194  false normal      150     no
25  37  male   asymptomatic     120      223  false normal      168     no
26  37  male   asymptomatic     130      315  false normal      158     no
27  38  female atypical angina  120      275  NA    normal      129     no
28  38  male   atypical angina  140      297  false normal      150     no
29  38  male   non-anginal pain 145      292  false normal      130     no
30  39  female non-anginal pain 110      182  false abnormality 180     no
⋮   ⋮   ⋮      ⋮                ⋮        ⋮    ⋮     ⋮           ⋮       ⋮
265 53  male   non-anginal pain 145      518  false normal      130     no
266 53  male   asymptomatic     180      285  false abnormality 120     yes
267 54  male   asymptomatic     140      216  false normal      105     no
268 55  male   typical angina   140      295  false NA          136     no
269 55  male   atypical angina  160      292  true  normal      143     yes
270 55  male   asymptomatic     145      248  false normal       96     yes
271 56  female atypical angina  120      279  false normal      150     no
272 56  male   asymptomatic     150      230  false abnormality 124     yes
273 56  male   asymptomatic     170      388  false abnormality 122     yes
274 58  male   atypical angina  136      164  false abnormality  99     yes
275 59  male   asymptomatic     130       NA  false normal      125     no
276 59  male   asymptomatic     140      264  true  hypertrophy 119     yes
277 65  male   asymptomatic     170      263  true  normal      112     yes
278 66  male   asymptomatic     140       NA  false normal       94     yes
279 41  male   asymptomatic     120      336  false normal      118     yes
280 43  male   asymptomatic     140      288  false normal      135     yes
281 44  male   asymptomatic     135      491  false normal      135     no
282 47  female asymptomatic     120      205  false normal       98     yes
283 47  male   asymptomatic     160      291  false abnormality 158     yes
284 49  male   asymptomatic     128      212  false normal       96     yes
285 49  male   asymptomatic     150      222  false normal      122     no
286 50  male   asymptomatic     140      231  false abnormality 140     yes
287 50  male   asymptomatic     140      341  false abnormality 125     yes
288 52  male   asymptomatic     140      266  false normal      134     yes
289 52  male   asymptomatic     160      331  false normal       94     yes
290 54  female non-anginal pain 130      294  false abnormality 100     yes
291 56  male   asymptomatic     155      342  true  normal      150     yes
292 58  female atypical angina  180      393  false normal      110     yes
293 65  male   asymptomatic     130      275  false abnormality 115     yes
294 28  male   atypical angina  130      132  false hypertrophy 185     no
    oldpeak slope ca thal       num
1   0       NA    NA NA         less than 50
2   0       NA    NA NA         less than 50
3   0       NA    NA fixed      less than 50
4   0       NA    NA NA         less than 50
5   0       NA    NA NA         less than 50
6   0       NA    NA NA         less than 50
7   0       NA    NA NA         less than 50
8   0       NA    NA NA         less than 50
9   0       NA    NA NA         less than 50
10  0       NA    NA NA         less than 50
11  0       NA    NA NA         less than 50
12  0       NA    NA NA         less than 50
13  0       NA    NA NA         less than 50
14  0       NA    NA NA         less than 50
15  0       NA    NA NA         less than 50
16  0       NA    NA NA         less than 50
17  1       flat  NA normal     less than 50
18  0       NA    NA NA         less than 50
19  0       NA    NA NA         less than 50
20  0       NA    NA NA         less than 50
21  0       NA    NA NA         less than 50
22  0       NA    NA NA         less than 50
23  0       NA    NA NA         less than 50
24  0       NA    NA NA         less than 50
25  0       NA    NA normal     less than 50
26  0       NA    NA NA         less than 50
27  0       NA    NA NA         less than 50
28  0       NA    NA NA         less than 50
29  0       NA    NA NA         less than 50
30  0       NA    NA NA         less than 50
⋮   ⋮       ⋮     ⋮  ⋮          ⋮
265 0.0     NA    NA NA         more than 50
266 1.5     flat  NA NA         more than 50
267 1.5     flat  NA NA         more than 50
268 0.0     NA    NA NA         more than 50
269 2.0     flat  NA NA         more than 50
270 2.0     flat  NA NA         more than 50
271 1.0     flat  NA NA         more than 50
272 1.5     flat  NA NA         more than 50
273 2.0     flat  NA NA         more than 50
274 2.0     flat  NA NA         more than 50
275 0.0     NA    NA NA         more than 50
276 0.0     NA    NA NA         more than 50
277 2.0     flat  NA NA         more than 50
278 1.0     flat  NA NA         more than 50
279 3.0     flat  NA NA         more than 50
280 2.0     flat  NA NA         more than 50
281 0.0     NA    NA NA         more than 50
282 2.0     flat  NA fixed      more than 50
283 3.0     flat  NA NA         more than 50
284 0.0     NA    NA NA         more than 50
285 2.0     flat  NA NA         more than 50
286 5.0     flat  NA NA         more than 50
287 2.5     flat  NA NA         more than 50
288 2.0     flat  NA NA         more than 50
289 2.5     NA    NA NA         more than 50
290 0.0     flat  NA NA         more than 50
291 3.0     flat  NA NA         more than 50
292 1.0     flat  NA reversible more than 50
293 1.0     flat  NA NA         more than 50
294 0.0     NA    NA NA         less than 50

In [26]:
write_csv(heart_data_fct, "heart_data_fct.csv")