In [44]:
library(tidyverse)
library(dplyr)

In [34]:
heart_data <- read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.hungarian.data")
colnames(heart_data) = c("age", "sex", "cp", "trestbps", "chol", "fbs", "restecg", "thalach", "exang", "oldpeak", "slope", "ca", "thal", "num")
# adding the lost row of information to the dataset and converting varieties to factor
head(heart_data)

Warning message:
“Duplicated column names deduplicated: '2' => '2_1' [7], '0' => '0_1' [9], '0' => '0_2' [10], '?' => '?_1' [12], '?' => '?_2' [13], '0' => '0_3' [14]”
Parsed with column specification:
cols(
  `28` = col_double(),
  `1` = col_double(),
  `2` = col_double(),
  `130` = col_character(),
  `132` = col_character(),
  `0` = col_character(),
  `2_1` = col_character(),
  `185` = col_character(),
  `0_1` = col_character(),
  `0_2` = col_double(),
  `?` = col_character(),
  `?_1` = col_character(),
  `?_2` = col_character(),
  `0_3` = col_double()
)

  age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal num
1 29  1   2  120      243  0   0       160     0     0       ?     ?  ?    0
2 29  1   2  140      ?    0   0       170     0     0       ?     ?  ?    0
3 30  0   1  170      237  0   1       170     0     0       ?     ?  6    0
4 31  0   2  100      219  0   1       150     0     0       ?     ?  ?    0
5 32  0   2  105      198  0   0       165     0     0       ?     ?  ?    0
6 32  1   2  110      225  0   0       184     0     0       ?     ?  ?    0

In [35]:
heart_data[nrow(heart_data) + 1,] = list(28, 1, 2, "130", "132", "0", "2", "185", "0", 0, "?", "?", "?", 0)
head(heart_data)

  age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal num
1 29  1   2  120      243  0   0       160     0     0       ?     ?  ?    0
2 29  1   2  140      ?    0   0       170     0     0       ?     ?  ?    0
3 30  0   1  170      237  0   1       170     0     0       ?     ?  6    0
4 31  0   2  100      219  0   1       150     0     0       ?     ?  ?    0
5 32  0   2  105      198  0   0       165     0     0       ?     ?  ?    0
6 32  1   2  110      225  0   0       184     0     0       ?     ?  ?    0

In [36]:
# converting the "?" to NA
heart_data$trestbps <- gsub("?", NA, heart_data$trestbps, fixed = TRUE)
heart_data$chol <- gsub("?", NA, heart_data$chol, fixed = TRUE)
heart_data$fbs <- gsub("?", NA, heart_data$fbs, fixed = TRUE)
heart_data$restecg <- gsub("?", NA, heart_data$restecg, fixed = TRUE)
heart_data$thalach <- gsub("?", NA, heart_data$thalach, fixed = TRUE)
heart_data$exang <- gsub("?", NA, heart_data$exang, fixed = TRUE)
heart_data$slope <- gsub("?", NA, heart_data$slope, fixed = TRUE)
heart_data$ca <- gsub("?", NA, heart_data$ca, fixed = TRUE)
heart_data$thal <- gsub("?", NA, heart_data$thal, fixed = TRUE)
head(heart_data)

  age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal num
1 29  1   2  120      243  0   0       160     0     0       NA    NA NA   0
2 29  1   2  140      NA   0   0       170     0     0       NA    NA NA   0
3 30  0   1  170      237  0   1       170     0     0       NA    NA 6    0
4 31  0   2  100      219  0   1       150     0     0       NA    NA NA   0
5 32  0   2  105      198  0   0       165     0     0       NA    NA NA   0
6 32  1   2  110      225  0   0       184     0     0       NA    NA NA   0

In [46]:
heart_data_clean <- heart_data %>% 
                        mutate(trestbps = as.numeric(trestbps)) %>% 
                        mutate(chol = as.numeric(chol)) %>% 
                        mutate(fbs = as.numeric(fbs)) %>% 
                        mutate(restecg = as.numeric(restecg)) %>% 
                        mutate(thalach = as.numeric(thalach)) %>% 
                        mutate(exang = as.numeric(exang)) %>% 
                        mutate(slope = as.numeric(slope)) %>% 
                        mutate(ca = as.numeric(ca)) %>% 
                        mutate(thal = as.numeric(thal)) 
head(heart_data_clean)

  age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal num
1 29  1   2  120      243  0   0       160     0     0       NA    NA NA   0
2 29  1   2  140       NA  0   0       170     0     0       NA    NA NA   0
3 30  0   1  170      237  0   1       170     0     0       NA    NA  6   0
4 31  0   2  100      219  0   1       150     0     0       NA    NA NA   0
5 32  0   2  105      198  0   0       165     0     0       NA    NA NA   0
6 32  1   2  110      225  0   0       184     0     0       NA    NA NA   0

 [1] "age"      "sex"      "cp"       "trestbps" "chol"     "fbs"
 [7] "restecg"  "thalach"  "exang"    "oldpeak"  "slope"    "ca"
[13] "thal"     "num"

In [20]:
#library(readr)
#write_csv(heart_data, "heart_data.csv")